<% if(success && success.length) { %>
    <div class="offset-4 alert alert-success alert-dismissible fade show successcss" role="alert">
        <strong>
            <%=success%>
        </strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    </div>
    <% } %>
        <% if(error && error.length) { %>
            <div class="offset-4 alert alert-danger alert-dismissible fade show errorcss" role="alert">
                <strong>
                    <%=error%>
                </strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            </div>
            <% } %>