<footer>
    <div class="logosf mb-2">
        <i class="fa-brands fa-instagram me-2" style="font-size: large;"></i>
        <i class="fa-brands fa-facebook me-2" style="font-size: large;"></i>
        <i class="fa-brands fa-linkedin me-2" style="font-size: large;"></i>
    </div>
    <div class="contentf">
        <p class="mb-2" style="font-size:large; color:black;">
        <h4>&copy; <%= (new Date()).getFullYear() %> Airbnb, Inc.</h4>
        </p>
        <p>
            <a href="#" style="text-decoration:none; color:black;">
                <h5>Privacy Terms</h5>
            </a>
        </p>
    </div>
</footer>