<nav class="navbar sticky-top navbar-expand-lg bg-body-primary">
    <div class="container-fluid">
        <a class="navbar-brand navbarcss2" href="/listings">
            <i class="fa-brands fa-airbnb mt-2" style=" color: red; font-size:7vh;"></i>
            <span class="airbnb" style="color: red; font-size: 215%;">
                airbnb
            </span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse offset-2" id="navbarSupportedContent">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
            <ul class="navbar-nav me-auto mb-3 mb-lg-0 offset-3">
                <li class="nav-item">
                    <a class="nav-link active" style="font-size: large;" aria-current="page" href="/listings/new">
                        <h4>Airbnb
                            Your Home</h4>
                    </a>
                </li>
                <% if (!user) { %>
                    <li class="nav-item">
                        <a class="nav-link active" style="font-size: large;" href="/signup">
                            <h4>SignUp</h4>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" style="font-size: large;" href="/signin">
                            <h4>SignIn</h4>
                        </a>
                    </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a class="nav-link active" style="font-size: large;" href="/signout">
                                <h4>LogOut</h4>
                            </a>
                        </li>
                        <% } %>
            </ul>
        </div>
    </div>
</nav>